BasedOnStyle: GNU
SpaceBeforeParens: ControlStatements
PointerAlignment: Right
BreakBeforeBraces: Custom
BraceWrapping:
  AfterEnum: false
  AfterStruct: false
  SplitEmptyFunction: true
  AfterFunction: true
